@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-BlackItalic.woff2') format('woff2'), 
      url('Lufga_Font/Lufga-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-BoldItalic.woff2') format('woff2'), 
      url('Lufga_Font/Lufga-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-Bold.woff2') format('woff2'), 
      url('Lufga_Font/Lufga-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-Black.woff2') format('woff2'), 
      url('Lufga_Font/Lufga-Black.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-ExtraLight.woff') format('woff2'),
      url('Lufga_Font/Lufga-ExtraLight.woff2') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-ExtraBoldItalic.woff2') format('woff2'),
      url('Lufga_Font/Lufga-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-LightItalic.woff2') format('woff2'),
      url('Lufga_Font/Lufga-LightItalic.woff')format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-Light.woff2') format('woff2'),
      url('Lufga_Font/Lufga-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-ExtraLight.woff2') format('woff2'),
      url('Lufga_Font/Lufga-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-ExtraBold.woff2') format('woff2'),
      url('Lufga_Font/Lufga-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-Italic.woff2') format('woff2'),
      url('Lufga_Font/Lufga-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-Medium.woff2') format('woff2'),
      url('Lufga_Font/Lufga-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-ThinItalic.woff2') format('woff2'),
      url('Lufga_Font/Lufga-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-MediumItalic.woff2') format('woff2'),
      url('Lufga_Font/Lufga-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-SemiBold.woff2') format('woff2'),
      url('Lufga_Font/Lufga-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-Thin.woff2') format('woff2'),
      url('Lufga_Font/Lufga-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-Regular.woff2') format('woff2'),
      url('Lufga_Font/Lufga-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('Lufga_Font/Lufga-SemiBold.woff2') format('woff2'),
      url('Lufga_Font/Lufga-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}